<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/scss/main.min.css" type="text/css" />
    <title>Abras Nigeria</title>
</head>
<body>
    <header>
        <nav>
            <div class="main-menu">
                <div class="menu-branding">Abras</div>

                <div class="menu-nav">
                    <a href="#" class="nav-item">Home</a>
                    <div class="products">
                        <a href="#" class="nav-item">Products</a>
                        <div class="product-list">
                            <a href="#">Product1</a>
                            <a href="#">Product2</a>
                        </div>
                    </div>
                    <a href="#" class="nav-item">About</a>
                    <a href="#" class="nav-item">Contact</a>
                </div>
            </div>
        </nav>
    </header>
   @RenderBody()
</body>
</html>
