@*Create brand*@

@model Brand

<main id="create-brand" class="container mt-5">

    <div class="card mx-auto">
        <h3 class="card-header mb-5">Create brand</h3>

        <form asp-controller="Brand" asp-action="Create" method="post" role="form" class="card-body pl-5">
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label font-weight-bold"></label>
                <div class="col-md-6">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label font-weight-bold"></label>
                <div class="col-md-6">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-6">
                    <input class="btn btn-dark" type="submit" value="Return" asp-controller="Brand" asp-action="List" />
                    <input class="btn btn-primary" type="submit" value="Create" />
                </div>
            </div>
        </form>
    </div>
    

</main>
