@*List brands*@

@model IEnumerable<Brand>


<main id="brand-page" class="container mt-5">

    <div class="my-2">
        <h1 class="my-2">Brands</h1>
        <a asp-controller="Category" asp-action="Create" class="btn btn-dark my-2">Create new</a>
    </div>


    <div class="row">
        @foreach (var brand in Model)
        {<div class="col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5>@brand.Name</h5>
                        <hr />
                        <p class="mb-1 pb-1"><b>Machines count: </b> @brand.Machines.Count</p>
                    </div>
                    @*<div class="card-footer">
                            <a asp-controller="Category" asp-action="Update" asp-route-id="@category.CategoryId" class="btn btn-dark col-md-3">Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-primary col-md-3">Delete</a>
                        </div>*@
                </div>
            </div>
        }
    </div>




</main>
