@import "../lib/bootstrap/scss/_functions.scss";
@import "../lib/bootstrap/scss/_variables.scss";
$primary-color: crimson;

$theme-colors: ( primary: #ff0000 );

@import "../lib/bootstrap/scss/bootstrap.scss";

/*@import "config.scss";
@import "menu.scss";
@import "form.scss";

body {
    font-family: rawline,Open Sans,Arial,sans-serif;
    padding: 0px;
    margin: 0;
    width: 100%;
    color: $text-color;
    background: lighten($primary-color, 100);
}

    li {
        list-style-type: none;
    }

    a{
        color: $link-color;
        text-decoration: none;
    }


.body-part {
    margin: 10vh 10vw;
}


    nav,
    header {
        padding: 0;
        margin: 0;
    }
    
    //main page
    #home {
        text-align: center;
        overflow: hidden;

        .main-heading {
            position: sticky;
            top: 0;
            font-size: 3em;
            font-weight: 600;
            color: $primary-color;
            margin: 0;
        }

        .sub-heading {
            color: $primary-color;
            margin-bottom: 20px;
        }

        .brands {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 1rem;
            overflow: hidden;

            .brand-logo {
                &:hover {
                    filter: grayscale(0%);
                    transform: scale(1.5);
                }
            }

            .brand-logo {
                filter: grayscale(100%);
                @include easeout();

                img {
                    transform: scale(0.5);
                }
            }
        }
    }*/


