@model IEnumerable<Product>




<main id="product-page" class="container mt-5">

    <div class="my-2">
        <h1 class="my-2">Products</h1>
        <a asp-controller="Category" asp-action="Create" class="btn btn-dark my-2">Create new</a>
    </div>


    <div class="row">
        @foreach (var product in Model)
        {<div class="col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5><span>Part number: </span>@product.PartNumber</h5>
                        <hr />
                        <p class="mb-1 pb-1"><b>Category: </b> @product.Category.CategoryName</p>
                    </div>
                    @*<div class="card-footer">
                            <a asp-controller="Category" asp-action="Update" asp-route-id="@category.CategoryId" class="btn btn-dark col-md-3">Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-primary col-md-3">Delete</a>
                        </div>*@
                </div>
            </div>

        }
    </div>




</main>
