<main id="home" class="body-part">

   @await Html.PartialAsync("Carousel");

    <section class="services pt-100 pb-50">
        <div class="container">
            <div class="row mb-5">
                <div class="col-xl-6 mx-auto text-center">
                    <h4 class="text-uppercase section-title mb-100">
                       We meet your sparepart needs
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="~/images/filters.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-3">Filters<a href="#" class="float-right d-inline-flex share"></a></h5>
                            <p class="card-text">
                                We have a broad and forward-thinking scope of channels that guarantee solid execution that expands the life of the segments and frameworks of the different machines. Notwithstanding channels for extra parts, we also supply other types of filters of different materials, pressure filters, return filters and low and high pressure suction filters.
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="~/images/engine_component.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-3">Engine components<a href="#" class="float-right d-inline-flex share"></a></h5>
                            <p class="card-text">
                                We stock parts for most machine engines in the domestic market, like chains, rims, chains, chains, links, rollers, guide wheels, nuts and bolts, bushes, seals, collars, cylinders, bushings and shafts, injector pumps, engine heads, crankshafts, liners, racks, brakes, blocks, connecting rods, pistons, cylinder covers, filters, etc. Prices and availability of parts upon request.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="~/images/hydraulic_pump.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-3">Hydraulic pumps<a href="#" class="float-right d-inline-flex share"></a></h5>
                            <p class="card-text">We have the answer for the most incessant faults in hydraulic pumps for backhoe and industrial machines. We have hydraulic pumps in stock for most of the machines in the national market in a complete offer with various models of gear pumps and pistons.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="~/images/undercarriage2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-3">Undercarriage<a href="#" class="float-right d-inline-flex share"></a></h5>
                            <p class="card-text">We have a huge load of elastic tracks for most machines in the national market. Elastic tracks, rollers, rippers, sections and connectors.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="~/images/rsz_attachments.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-3">Attachments<a href="#" class="float-right d-inline-flex share"></a></h5>
                            <p class="card-text">Attachments sold by Abras Nigeria Parts incorporate Buckets, Drills, Forks, Blades and Rippers. These pieces provided to the measure, are the ones demonstrated to satisfy your targets. Being this a significant point, our range of accessories covers various brands of industrial machines, among them, Caterpillar, Komatsu, Case, JCB, New Holland and some more.</p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>


    @*<div class="brands">
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_bomag.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_caterpillar.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_cummins.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_daewoo.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_dynapac.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_hitachi.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_jcb.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_john-deere.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_komatsu.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_perkins.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_volvo.png" />
        </div>
    </div>*@
</main>