<main id="home">
    <h1 class="main-heading">Abras Nigeria Enterprise</h1>
    <h3 class="sub-heading">
        Supplier of komatsu, cat, volvo, perkins & cumins spare parts
    </h3>
    <div class="brands">
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_bomag.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_caterpillar.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_cummins.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_daewoo.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_dynapac.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_hitachi.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_jcb.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_john-deere.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_komatsu.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_perkins.png" />
        </div>
        <div class="brand-logo">
            <img src="~/images/brand_logos/c_volvo.png" />
        </div>
    </div>
</main>